    body, td, th {
      font-size: 11px;
      font-family: Verdana,Arial,Helvetica,sans-serif;
        background-color: white;
    }
    
    .datatable th {
        text-align: left;
        border-bottom: 1px solid #888888;
        }
    
    div.sql {
        margin-bottom:20px; 
        margin-top:5px;
        padding:10px;
        border: 1px solid #888888; 
        font-family:courier;
    }
    
    .datatable .odd td {
        background-color: #CCFFFF;
        }
        
    .datatable .even td {
        }
        
    table.datatable {
        border: 1px solid #888888;
        }

    .formtable th {
        text-align: right;
        font-weight: bold;
        color: #888888;
        vertical-align: top;
        }
        
    table.formtable {
        border: 1px solid #888888;
        }
        
    .formtable td.separator {
        height: 3px;
        border-top: 1px solid #888888;
        }

    #messages p.error {
        color: #ff2222;
        font-weight: bold;
    }        
    #messages p.warning {
        background: #ccccaa;    
        font-weight: bold;
    }        
    #messages p.note {
        background: #cccccc;
        /*font-weight: bold;*/
    }        

    dt {
        font-weight: bold;
        color: #888888;
        margin-top: 5px;
    }        
